<div class="task-list" [ngStyle]="{background: task.bgColor}" [ngClass]="task.isDark ? 'light-text' : 'dark-text'" cdkDropList [cdkDropListData]="task.subtasks" (cdkDropListDropped)="onSubtaskDrop($event)" [cdkDropListConnectedTo]="connectedDropLists" [id]="'subtasks-list-' + taskIndex">
    <div class="dropzone-overlay" *ngIf="isDragging"></div>
    <!-- List header -->
    <div class="list-header">
        <span class="move-list-handle" cdkDragHandle title="Move list">
            <i class="fas fa-grip-lines"></i>
        </span>
        <div class="wrap-text list-title" text-editable #taskNameDiv="ngModel" [(ngModel)]="task.name" (blur)="onTaskNameChange()">
            {{ task.name }}
        </div>
        <div class="list-menu-wrapper">
            <button mat-icon-button [matMenuTriggerFor]="listMenu" class="list-menu-btn">
                <i class="fas fa-ellipsis-h"></i>
            </button>
            <mat-menu #listMenu="matMenu">
                <button mat-menu-item (click)="openColorPalette(task)">
                    <i class="fas fa-palette" style="margin-right: 10px;"></i>
                    <span>Change color</span>
                </button>
                <button mat-menu-item (click)="onDeleteTask()">
                    <i class="fas fa-trash-alt" style="margin-right: 10px;"></i>
                    <span>Delete list</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <!-- Subtasks list -->
    <div class="subtasks-list">
        <div class="subtask-card card-style" *ngFor="let subtask of task.subtasks" cdkDrag (cdkDragStarted)="onDragStarted()" (cdkDragEnded)="onDragEnded()">
            <mat-checkbox class="circular-checkbox" [checked]="subtask.isCompleted" (change)="markAsComplete($event.checked, subtask)"></mat-checkbox>
            <div class="wrap-text card-title" text-editable #taskNameDiv="ngModel" [(ngModel)]="subtask.name" (blur)="onTaskNameChange()" [ngClass]="{ 'task-completed': subtask.isCompleted, 'light-text': task.isDark }">
                {{ subtask.name }}
            </div>
            <i class="fas fa-trash-alt icon-delete" (click)="onDeleteSubtask(subtask)"></i>
        </div>
    </div>

    <!-- Add subtask -->
    <div class="add-card-row">
        <input class="add-card-input" type="text" placeholder="Add a card..." [(ngModel)]="subtaskName" (keyup.enter)="addSubtask()" [ngClass]="task.isDark ? 'light-text' : 'dark-text'" />
        <button class="add-card-btn" (click)="addSubtask()">
            <i class="fas fa-circle-plus green font-icon"></i>
        </button>
    </div>
</div>