.box {
  position: relative;
  padding-top: 10px;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background: white;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.icon-delete {
  position: absolute;
  right: 0;
}

.cdk-drag-handle {
  cursor: move;
  width: 1rem;
  height: 1rem;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.subtasks-list {
  max-width: 25rem;
  max-height: 20rem;
  overflow-y: auto;
  padding: 0.6rem;
}

.wrap-text {
  outline: none;
}

.wrap-text {
  border: 1px solid transparent; /* Default border is transparent */
  outline: none; /* Remove default outline */
}

.card-control {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

// .card-icon {
//   position: absolute;
//   left: 0;
//   top: 0;
// }

.delete-task {
  // position: absolute;
  // right: 0;
  // top: 0;
  color: #c41e3a;
  cursor: pointer;
  // margin: 0.4rem !important;
}

.form-field {
  width: 100%;
}

.task-header {
  display: block;
}

.task-subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.task-completed {
  text-decoration: line-through;
}

::ng-deep mat-checkbox .mat-checkbox-frame {
  background: white;
}

.light-text {
  color: white;
}

.dark-text {
  color: black;
}

::ng-deep .mat-form-field-outline {
  opacity: 0;
}

::ng-deep .mat-form-field-appearance-outline {
  padding: 0 !important;
  width: 100%;
}

::ng-deep .circular-checkbox {
  & .mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 70% !important;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-checkbox-inner-container {
  width: 22px !important;
  height: 22px !important;
}

::ng-deep .mat-card {
  border-radius: 0;
}

::ng-deep .mat-card-title {
  font-size: 20px;
  margin-bottom: 0;
}

::ng-deep .mat-card-content {
  margin-bottom: 0;
}

::ng-deep .mat-card-header-text {
  display: flex;
  justify-content: center;
}

.task-card {
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

