// global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.icon-1x {
  transform: scale(1);
}

.icon-2x {
  transform: scale(2);
}

.green {
  color: green;
}

.move-icon {
  width: 24px;
}

.move-updown-icon {
  width: 19px;
}

.wrap-text {
  overflow-wrap: anywhere;
}

.start-text {
  text-align: start;
  margin: 0 1rem !important;
}

.font-icon {
  font-size: 1.2rem !important;
}

.icon-delete {
  cursor: pointer;
  color: #c41e3a;
}

.mg-r1 {
  margin-right: 1rem;
}

.mg-tb1 {
  margin: 1rem 0 !important;
}

.mg-lr1 {
  margin: 0 1rem;
}

.mg-r1 {
  margin-right: 1rem;
}

.pd-0 {
  padding: 0 !important;
}

.color-picker-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.sort-icon {
  margin-left: 10px;
  width: 24px;
  cursor: pointer;
}

.success-snackbar {
  background: green;
  min-width: 100vw !important;
  margin: 0 !important;
  padding: 22px 16px !important;
  border-radius: 0 !important;
}
.success-snackbar .mat-simple-snackbar-action {
  color: white;
}
.error-snackbar {
  background: red;
  min-width: 100vw !important;
  margin: 0 !important;
  padding: 22px 16px !important;
  border-radius: 0 !important;
}
.error-snackbar .mat-simple-snackbar-action {
  color: white;
}

.light-text {
  color: #fff !important;
}

.dark-text {
  color: #172b4d !important;
}
