<section class="board" [ngStyle]="{background: board.bgColor}">
    <div class="cards-list" [ngStyle]="{background: board.bgColor}" cdkDropListGroup>
        <ng-container *ngFor="let task of board.tasks; let i=index">
            <div class="list-wrapper" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="{item:task,index:i}" (cdkDropListDropped)="drop($event)">
                <div class="box" cdkDrag>
                    <app-task [task]="task" [board]="board" [taskIndex]="i" (getBoard)="getBoard()"></app-task>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<section id="footer">
    <mat-card class="footer">
        <img class="color-picker-icon" src="../../assets/icons/palette.png" (click)="openColorPalette()">
        <!-- <img class="sort-icon" src="../../assets/icons/sort.png" (click)="sortByDate()"> -->
        <div class="add-task">
            <mat-form-field class="form-field">
                <mat-label>Enter list title</mat-label>
                <input matInput type="text" placeholder="Name of list" [(ngModel)]="taskName" (keyup.enter)="addTask()">
                <button matSuffix mat-icon-button aria-label="Add List" (click)="addTask()">
                    <i class="fas fa-plus icon-2x green"></i>
                </button>
            </mat-form-field>
        </div>
    </mat-card>
</section>