<section class="board" [ngStyle]="{background: board.bgColor}">
    <div class="cards-list" [ngStyle]="{background: board.bgColor}" cdkDropListGroup>
        <ng-container *ngFor="let task of board.tasks; let i=index">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="{item:task,index:i}" (cdkDropListDropped)="drop($event)">
                <div class="box" cdkDrag>
                    <!-- <div class="cdk-drag-handle" cdkDragHandle>
                        <img class="move-icon" aria-hidden src="../../assets/icons/move.png" alt="move-icon">
                    </div> -->
                    <app-task [task]="task" [board]="board" (getBoard)="getBoard()"></app-task>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<section id="footer">
    <mat-card class="footer">
        <img class="color-picker-icon" src="../../assets/icons/palette.png" (click)="openColorPalette()">
        <img class="sort-icon" src="../../assets/icons/sort.png" (click)="sortByDate()">
        <div class="add-task">
            <mat-form-field class="form-field">
                <mat-label>Add a task card</mat-label>
                <input matInput type="text" placeholder="name of task" [(ngModel)]="taskName" (keyup.enter)="addTask()">
                <button matSuffix mat-icon-button aria-label="Add Task" (click)="addTask()">
                    <mat-icon class="icon-2x green">add_box</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </mat-card>
</section>