.board {
    height: 100%;
    width: 100%;
}

.cards-list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.box {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin: 0.5rem;
}

.cdk-drag-handle {
    cursor: move;
    position: absolute;
    z-index: 1;
    left: 3rem;
    top: 1rem;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cards-list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.add-task {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: 100;
}

.form-field {
    width: 50vw;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    border-radius: 0;
    z-index: 100;
}

::ng-deep .cdk-drag-preview {
    box-shadow: none !important; /* Remove the shadow from the preview */
}

.pin {
    cursor: move;
    position: absolute;
    z-index: 1;
    left: 50%; /* Center the pin horizontally */
    top: -5px; /* Adjust the top position */
    width: 16px;
    height: 16px;
    background: #1565C0;
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }